

/* Utilisez une classe générique pour les éléments de mise en page */
.center {
  text-align: center;
  margin: auto;
  color: #144272;
}

/* Utilisez des valeurs relatives pour les dimensions de layout */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-size: 3vw;
  padding: 5% 10%  5% 10% ;
  border-bottom: none;
}



.small{
  font-size: 1.5vw;
}

.verySmall{
  font-size: 1vw;
}

.italic {
  font-style: italic;
}



/* Utilisez des valeurs relatives pour les dimensions de police */
.section-title {
  height: 100vh;
}

.title {
  font-size: 6vw;
  font-weight: normal;
}

/* Utilisez des classes génériques pour les éléments de mise en page similaires */
.my-container {
  padding: 10px 40px 10px 40px;
}


.miniBox{
  border: 1px solid;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}

.dotLine {
  border-top: 1px dashed;
}

.miniBox2{
  border: 1px solid;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}



img {
  width: 400px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/* Utilisez des valeurs relatives pour les dimensions de police */
.my-list {
  flex: 1;
  margin: auto;
  text-align: center;
  list-style-position: inside;
}


.bold{
  font-weight: bolder;
  font-size: 2vw;
}


a {color: #7495b7}     /* lien non-visité */
a:visited {color: #7495b7}  /* lien visité */
a:hover {color:lightskyblue}   /* lien au survol */
a:active {color: #144272}   /* lien sélectionné */

nav {
  display: grid;
  align-content: start; /* aligne toutes les lignes de la grille sur le début de la zone de la grille */
  position: fixed;
  z-index: 999; /* n'importe quel nombre plus grand que le z-index des autres éléments de votre page */
}

.nav-link {
  font-weight: bolder;
  margin: 5px 10px 5px 10px;
  padding: 10px 10px 10px 10px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
}