.App {
  text-align: center;
}

section {
  display: flex;
  width: 100vw;
  background: #EEE;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-size: 5vw;
  border-bottom: 1px solid #666;
}

.divtitle {
  margin-top: 10vh;
  height: 100vh;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  margin: 0;
}

.letter {
  font-size: 6vw;
  display: inline-block;
}

#intro
{
  font-size: 1.5vw;
  padding: 10px 100px 10px 100px;
  font-style: italic;
}
#conclusion 
{
  font-size: 1.5vw;
  padding: 10px 100px 10px 100px;
  font-style: italic;
}

.coord {
  font-size: 1.5vw;
  padding: 10px 100px 10px 100px;
}

.diploma-container {
  font-size: 1vw;
  padding: 10px 40px 10px 40px;
  display: inline-block;
}

img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
